{{- /*
  Partial: head/ocd.html
  Purpose: Appends the necessary CSS and JS for OCD on the `<head>`.

  Note:
  - The OCD related assets are never included in production builds, maintaining
  a clean and optimized output.

  Repo: https://github.com/oxypteros/alpha
*/}}
{{- $ocdSelfCheckHeadErrors := slice -}}
{{- $ocdErrorCode := "" -}}
{{- with resources.Get "alpha/ocd/css/ocd.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" />
{{- else }}
  {{- $ocdErrorCode = "ocd-file-101" }}
  {{- $ocdSelfCheckCss := dict
    "code" $ocdErrorCode
    "file" "ocd.css"
    "path" "assets/alpha/ocd/css/ocd.css"
  -}}
  {{- $ocdSelfCheckHeadErrors = $ocdSelfCheckHeadErrors | append $ocdSelfCheckCss -}}
{{- end }}

{{- $ocdJsPath := "alpha/ocd/js/ocd.js" -}}

{{- $jsTpl := resources.Get $ocdJsPath -}}
{{- with $jsTpl }}
  {{- $ocdJs := $jsTpl | js.Build -}}
  {{- $finalJs := $ocdJs }}
  <script type="module" src="{{ $finalJs.RelPermalink }}"></script>
{{- else }}
  {{- $ocdErrorCode = "ocd-file-102" }}
  {{- $ocdSelfCheckJs := dict
    "code" $ocdErrorCode
    "file" "ocd.js"
    "path" "assets/alpha/ocd/js/ocd.js"
  -}}
  {{- $ocdSelfCheckHeadErrors = $ocdSelfCheckHeadErrors | append $ocdSelfCheckJs -}}
{{- end }}

{{- if gt (len $ocdSelfCheckHeadErrors) 0 }}
  {{- .Store.Set "ocdSelfCheckHeadErrors" $ocdSelfCheckHeadErrors -}}
{{- end }}
