{{- /*
  Partial: head/ocd.html
  Purpose: Appends the necessary CSS and JS for OCD on the `<head>`.

  Note:
  - The OCD related assets are never included in production builds, maintaining
  a clean and optimized output.

  Repo: https://github.com/oxypteros/alpha
*/}}

{{- with resources.Get "alpha/ocd/css/ocd.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" />
{{- end }}


{{- $ocdJsPath := "alpha/ocd/js/ocd.js" -}}
{{- $jsTpl := resources.Get $ocdJsPath  -}}
{{- $ocdJs := $jsTpl | js.Build  -}}
{{- $finalJs := $ocdJs }}
<script
  type="module"
  src="{{ $finalJs.RelPermalink }}"
></script>