{{- /*
  Partial: ocd/components/page/sc-invalid-values.html
  Purpose: Generates an OCD on page message for shortcodes that are 
  called with invalid parameter values.

  Requires a dictionary expecting the following keys:
  - ocdErrorCode (string) : The OCD error code
  - scName (string)       : The name of the shortcode.
  - invalidValues (map)   : A map of parameters with their invalid values.
  - rules (object)        : The full shortcode rules object.
  - page (object)         : The full .Page object from the shortcode.
  - position (object)     : The full .Position object from the shortcode.

  Repo: https://github.com/oxypteros/alpha
*/}}
{{- $scName := .scName -}}
{{- $invalidValues := .invalidValues -}}
{{- $errorCode := .ocdErrorCode -}}
{{- $paramsRules := .rules.params -}}

{{- /* Count of invalid valeus for i18n */}}
{{- $invalidCount := len $invalidValues -}}

{{- /* Invalid values list */}}
{{- $badValuesOnly := slice -}}
{{- range $k, $v := .invalidValues -}}
  {{- $badValuesOnly = $badValuesOnly | append (printf `"%s"` $v) -}}
{{- end -}}
{{- $formattedInvalidValues := delimit $badValuesOnly ", " -}}

<div
  class="ocd ocd-card ocd-card-warning ocd-shadow"
  data-error="{{ $errorCode }}"
>
  <header class="ocd-card-header ocd-card-header-warning">
    <h2 class="ocd-title">
      {{- i18n "OcdScValueWarn" $invalidCount | default "Shortcode Value Warning" -}}
    </h2>
    <svg aria-hidden="true" focusable="false" width="24" height="24">
      <use href="#ocd-warning-icon"></use>
    </svg>
  </header>
  <div class="ocd-card-content ocd-card-content-warning">
    <div>
      <p>
        {{- i18n "OcdScInvValue" $invalidCount | default "Invalid value used in the shortcode" }}
        <span class="ocd-mono ocd-mono-warning"
          >&lbrace;&lbrace;&lt; {{ $scName }} &gt;&rbrace;&rbrace;</span
        >.
      </p>
      <p>
        {{- i18n "OcdScValues" $invalidCount | default "The value," }} 
        <span class="ocd-mono ocd-mono-warning">{{ $formattedInvalidValues }}</span
        > 
        {{ i18n "OcdScNotRecognized" $invalidCount | default "is not recognized." -}}
      </p>
    </div>
    <hr />
    {{ i18n "OcdScValidValues" . | default "Valid Values:" }}
    <ul class="ocd-warning-list">
      {{- /* For each parameter list valid values */}}
      {{- range $paramName, $badValue := .invalidValues -}}
        <li>
          <span class="ocd-mono">
            {{- $rule := index $paramsRules (upper $paramName) -}}
            {{- if $rule -}}
              {{- if eq $rule.validation "in_list" -}}
                {{- printf "%s: %s" (upper $paramName) (delimit $rule.list ", ") -}}
              {{- else if eq $rule.validation "is_positive_integer" -}}
                {{- printf "%s: " (upper $paramName) -}} {{- i18n "OcdScInteger" | default "A positive integer (e.g., 1, 2, 3, ...)"}}
              {{- else -}}
                {{- printf "%s: See documentation for valid options" (upper $paramName) -}}
              {{- end -}}
            {{- end -}}
          </span>
        </li>
      {{- end -}}
    </ul>
  </div>
  <footer class="ocd-card-footer ocd-card-footer-warning">
    <div class="ocd-card-footer-meta ocd-warning-meta">
      <p>
        <strong>{{ i18n "OcdCardInput" . | default "Input: " }}</strong>
        {{- /* String of the users invalid input */}}
        {{- $total := len .invalidValues -}}
        {{- $i := 0 -}}
        {{ range $paramName, $badValue := .invalidValues }}
          {{- $i = add $i 1 }}
          {{ printf `%s="` (upper $paramName) | safeHTML }} 
          <span class="ocd-mono-warning">{{ $badValue }}</span>"{{ if lt $i $total }}<span class="ocd-mono">, </span>{{ end -}}
        {{- end -}}
      </p>
      <a
        class="ocd-mono ocd-mono-warning"
        href="https://alpha.oxypteros.com/docs/ocd"
        >{{ $errorCode }}</a
      >
    </div>
  </footer>
</div>